.menu,
.close {
    display: none;
    cursor: pointer;
}

.menu div {
    width: 22px;
    height: 2px;
    margin: 2px;
    background: #333333;
}

.close:hover {
    background-color: #409efc;
}

@media screen and (min-width: 380px) {
    .containerprojetos {
        display: grid;
        grid-template-columns: 1fr;
        overflow-y: scroll;
    }

}

@media screen and (min-width: 576px) {
    .containerprojetos {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .home {

        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;

    }

    .content {
        height: 60%;
        width: 100%;
    }

}

@media screen and (max-width: 830px) {
    .container{
        align-items: center;
        justify-content: center;
    }
    .apresentacao{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        font-size: 25px;
        width: 70%;
        height: 40%;
        align-items: center;
        margin-right: 6%;
    }
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 8%;
        padding-right: 8%;
        height: 100vh;
        width: 100vw;
    }

    .content .img{
        margin-right: 15%;
        order: -1;
    }



    .menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 20px;
        right: 10%;
        z-index: 12;
    }
    
    .close {
        display: flex;
        background: none;
        border: none;
        margin-top: 10px;
        transition: .5s;
    }


    .navbar {
        position: fixed;
        top: 0;
        right: 0;
        padding: 0;
        transition: .7s;
        margin-right: -100vw;
    }
    
    .navbar ul li {
        text-align: center;
        margin-top: 5rem;
    }
    
    .navbar ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        background-color: #242323ce;
        border-radius: 10px 0 0 10px;
        height: 100vh;
        width: 40vw;
        z-index: 20;
    }
    
}


@media screen and (min-width: 992px) {
    .containerprojetos {
        display: flex;

    }

}

@keyframes mostrar {
    from {
        margin-right: -100vw;
    }

    top {
        margin-right: 0;
    }
}

@keyframes ofNav {
    from {
        margin-right: 0;
    }

    top {
        margin-right: -100vw;
    }
}